# Define your Codespaces name here to build the API endpoint for Codespaces.
# For example:
VITE_CODESPACE_NAME=solid-memory-q7ggr4wwqvghjgq

# When VITE_CODESPACE_NAME is unset, the app will fall back to localhost:8000.
